.container {
  text-align: center;
}

.box{
  width: 80px;
  height: 80px;
  border : 1px solid black;
  display : inline-block;
  text-align: center;
}

.box:hover{
  background-color: lightskyblue;
  cursor: pointer;
}

.box.unavailable:hover{
  background-color: lightcoral;
  cursor: pointer;
}

.board{
  display : inline-flex;
  flex-wrap : wrap;
  width : 246px;
}

.gamechecker{
  text-align: center;
}